
#dat-gui {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 50px;
  opacity: 0.25;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 1;
  }
}
.dg.main {
  font-size: inherit;
}
.dg.main .close-button {
  top: initial;
  right: initial;
  font-size: inherit;
}
.dg .c input[type=text] {
  height: initial;
}
select {
  margin: 0;
  margin-top: 0!important;
  padding: 0;
  height: initial;
  -webkit-appearance: initial;
}
.shim-background {
  background: #efefef;
}
#dat-gui .dg {
  font: $body-font-family !important;
}
