$sidebar-size: 250px;
$sidebar-speed: .25s;

.sidebar {
  max-width:$sidebar-size;
  width: $sidebar-size;
  z-index:1;
  position: absolute;
  top: 3.5rem;
  left: 0;
  bottom: 0;

  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);

  -webkit-transition: -webkit-transform $sidebar-speed;
      -ms-transition: -ms-transform $sidebar-speed;
          transition: transform $sidebar-speed;
}
.sidebar-off .sidebar {
  -webkit-transform: translateX(-$sidebar-size);
      -ms-transform: translateX(-$sidebar-size);
          transform: translateX(-$sidebar-size);
}

@include breakpoint(large up) {
  .sidebar {
    top: 0;
    left: 0;
    bottom: 0;
  }
  .sidebar ~ .grid-block {
    -webkit-transition: margin-left $sidebar-speed;
        -ms-transition: margin-left $sidebar-speed;
            transition: margin-left $sidebar-speed;
    margin-left: $sidebar-size;
  }

  .sidebar-off .sidebar ~ .grid-block {
    margin-left: 0;
  }
}

.dark-theme .sidebar {
  background: $dark-color;
  header {
    color: #666;
  }
  li:first-child {
    border-top: 1px solid #333;
  }
  li {
    border-bottom: 1px solid #333;
  }
  a {
    color: $secondary-color;
  }
  a:hover{
    background: #2d2d2d;
    color: $secondary-color;
  }
  a.active {
    background: #2d2d2d;
  }
}

